In [3]:
import pandas as pd
import numpy as np
import pandasql as ps

from pandasql import sqldf

In [7]:
teacher_df = pd.read_csv("./sample_data_teacher.csv")

In [8]:
teacher_df["day of week"] = teacher_df["day of week"].apply(lambda row: row.split(","))
teacher_df["time available"] = teacher_df["time available"].apply(lambda row: row.split(","))

teacher_df["day_of_week"] = teacher_df["day of week"]
teacher_df["time_available"] = teacher_df["time available"]

teacher_df = teacher_df.explode("day_of_week")
teacher_df = teacher_df.explode("time_available")

Student

In [9]:
student_df = pd.read_csv("./sample_data_student.csv")

In [10]:
student_df["day of week"] = student_df["day of week"].apply(lambda row: row.split(","))
student_df["day_of_week"] = student_df["day of week"]
student_df["time_available"] = student_df["time available"]
student_df = student_df.explode("day_of_week")
student_df

,Student,day of week,time available,subject,refer teacher,grade,day_of_week,time_available
0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,2,14h-16h
0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,4,14h-16h
0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,6,14h-16h
1,st_10,"[2, 4, 6]",20h-22h,Toan,Teacher_4,7,2,20h-22h
1,st_10,"[2, 4, 6]",20h-22h,Toan,Teacher_4,7,4,20h-22h
...,...,...,...,...,...,...,...,...
31,st_8,"[2, 4, 6]",18h-20h,Ly,Teacher_2,9,4,18h-20h
31,st_8,"[2, 4, 6]",18h-20h,Ly,Teacher_2,9,6,18h-20h
32,st_9,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,6,2,20h-22h
32,st_9,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,6,4,20h-22h
32,st_9,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,6,6,20h-22h

In [11]:
student_df.to_csv("./student_df_formated.csv")
teacher_df.to_csv("./teacher_df_formated.csv")

## Query

In [12]:
join = student_df.reset_index()
teacher_df = teacher_df.reset_index()

In [13]:
join.merge(teacher_df, how="inner", \
           left_on=["day_of_week", "time_available", "grade", "subject", "refer teacher"], \
           right_on=["day_of_week", "time_available", "grade", "subject", "Teacher"])

,index_x,Student,day of week_x,time available_x,subject,refer teacher,grade,day_of_week,time_available,index_y,Teacher,day of week_y,time available_y
0,0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,2,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]"
1,0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,4,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]"
2,5,st_14,"[2, 4, 6]",20h-22h,Ly,Teacher_2,7,4,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]"
3,18,st_26,"[3, 5, 7]",20h-22h,Ly,Teacher_2,7,3,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]"
4,18,st_26,"[3, 5, 7]",20h-22h,Ly,Teacher_2,7,5,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]"
5,20,st_28,"[3, 5, 7]",20h-22h,Toan,Teacher_4,9,7,20h-22h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]"
6,22,st_3,"[2, 4, 6]",16h-18h,Hoa,Teacher_3,8,4,16h-18h,2,Teacher_3,"[4, 5, 6]","[14h-16h, 16h-18h]"
7,22,st_3,"[2, 4, 6]",16h-18h,Hoa,Teacher_3,8,6,16h-18h,2,Teacher_3,"[4, 5, 6]","[14h-16h, 16h-18h]"

In [14]:
join.merge(teacher_df, how="inner", \
           left_on=["day_of_week", "time_available", "grade", "subject"], \
           right_on=["day_of_week", "time_available", "grade", "subject"])

,index_x,Student,day of week_x,time available_x,subject,refer teacher,grade,day_of_week,time_available,index_y,Teacher,day of week_y,time available_y
0,0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,2,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]"
1,0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,4,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]"
2,5,st_14,"[2, 4, 6]",20h-22h,Ly,Teacher_2,7,4,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]"
3,6,st_15,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,8,2,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]"
4,6,st_15,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,8,4,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]"
5,11,st_2,"[2, 4, 6]",16h-18h,Ly,Teacher_2,7,4,16h-18h,4,Teacher_5,"[3, 4, 5]","[14h-16h, 16h-18h]"
6,18,st_26,"[3, 5, 7]",20h-22h,Ly,Teacher_2,7,3,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]"
7,18,st_26,"[3, 5, 7]",20h-22h,Ly,Teacher_2,7,5,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]"
8,19,st_27,"[3, 5, 7]",20h-22h,Hoa,Teacher_3,8,5,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]"
9,20,st_28,"[3, 5, 7]",20h-22h,Toan,Teacher_4,9,5,20h-22h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]"
10,20,st_28,"[3, 5, 7]",20h-22h,Toan,Teacher_4,9,7,20h-22h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]"
11,20,st_28,"[3, 5, 7]",20h-22h,Toan,Teacher_4,9,7,20h-22h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]"
12,22,st_3,"[2, 4, 6]",16h-18h,Hoa,Teacher_3,8,4,16h-18h,2,Teacher_3,"[4, 5, 6]","[14h-16h, 16h-18h]"
13,22,st_3,"[2, 4, 6]",16h-18h,Hoa,Teacher_3,8,6,16h-18h,2,Teacher_3,"[4, 5, 6]","[14h-16h, 16h-18h]"

In [15]:
re3 = join.merge(teacher_df, how="inner", \
           left_on=["day_of_week", "time_available", "subject"], \
           right_on=["day_of_week", "time_available", "subject"])
re3.sort_values(by="day_of_week")

,index_x,Student,day of week_x,time available_x,subject,refer teacher,grade_x,day_of_week,time_available,index_y,Teacher,day of week_y,time available_y,grade_y
0,0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,2,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]",6
2,1,st_10,"[2, 4, 6]",20h-22h,Toan,Teacher_4,7,2,20h-22h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9
3,4,st_13,"[2, 4, 6]",20h-22h,Toan,Teacher_1,6,2,20h-22h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9
55,30,st_7,"[2, 4, 6]",18h-20h,Toan,Teacher_1,8,2,18h-20h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9
53,29,st_6,"[2, 4, 6]",18h-20h,Hoa,Teacher_6,7,2,18h-20h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
49,27,st_4,"[2, 4, 6]",16h-18h,Toan,Teacher_4,9,2,16h-18h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]",6
10,3,st_12,"[2, 4, 6]",20h-22h,Hoa,Teacher_6,9,2,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
11,6,st_15,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,8,2,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
12,32,st_9,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,6,2,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
41,18,st_26,"[3, 5, 7]",20h-22h,Ly,Teacher_2,7,3,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
42,21,st_29,"[3, 5, 7]",20h-22h,Ly,Teacher_5,6,3,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
47,25,st_32,"[3, 5, 7]",14h-16h,Ly,Teacher_5,9,3,14h-16h,4,Teacher_5,"[3, 4, 5]","[14h-16h, 16h-18h]",7
24,15,st_23,"[3, 5, 7]",18h-20h,Ly,Teacher_5,8,3,18h-20h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
23,12,st_20,"[3, 5, 7]",18h-20h,Ly,Teacher_2,9,3,18h-20h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
19,8,st_17,"[3, 5, 7]",16h-18h,Ly,Teacher_5,6,3,16h-18h,4,Teacher_5,"[3, 4, 5]","[14h-16h, 16h-18h]",7
18,24,st_31,"[3, 5, 7]",14h-16h,Toan,Teacher_1,8,3,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]",6
17,10,st_19,"[3, 5, 7]",14h-16h,Toan,Teacher_1,8,3,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]",6
16,7,st_16,"[3, 5, 7]",14h-16h,Toan,Teacher_4,9,3,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]",6
8,2,st_11,"[2, 4, 6]",20h-22h,Ly,Teacher_5,8,4,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
15,32,st_9,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,6,4,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
14,6,st_15,"[2, 4, 6]",20h-22h,Hoa,Teacher_3,8,4,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
51,28,st_5,"[2, 4, 6]",18h-20h,Ly,Teacher_5,6,4,18h-20h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
50,27,st_4,"[2, 4, 6]",16h-18h,Toan,Teacher_4,9,4,16h-18h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]",6
22,11,st_2,"[2, 4, 6]",16h-18h,Ly,Teacher_2,7,4,16h-18h,4,Teacher_5,"[3, 4, 5]","[14h-16h, 16h-18h]",7
13,3,st_12,"[2, 4, 6]",20h-22h,Hoa,Teacher_6,9,4,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
9,5,st_14,"[2, 4, 6]",20h-22h,Ly,Teacher_2,7,4,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
1,0,st_1,"[2, 4, 6]",14h-16h,Toan,Teacher_1,6,4,14h-16h,0,Teacher_1,"[2, 3, 4]","[14h-16h, 16h-18h]",6
52,31,st_8,"[2, 4, 6]",18h-20h,Ly,Teacher_2,9,4,18h-20h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
45,22,st_3,"[2, 4, 6]",16h-18h,Hoa,Teacher_3,8,4,16h-18h,2,Teacher_3,"[4, 5, 6]","[14h-16h, 16h-18h]",8
54,29,st_6,"[2, 4, 6]",18h-20h,Hoa,Teacher_6,7,4,18h-20h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
36,20,st_28,"[3, 5, 7]",20h-22h,Toan,Teacher_4,9,5,20h-22h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
44,21,st_29,"[3, 5, 7]",20h-22h,Ly,Teacher_5,6,5,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
48,25,st_32,"[3, 5, 7]",14h-16h,Ly,Teacher_5,9,5,14h-16h,4,Teacher_5,"[3, 4, 5]","[14h-16h, 16h-18h]",7
43,18,st_26,"[3, 5, 7]",20h-22h,Ly,Teacher_2,7,5,20h-22h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
35,17,st_25,"[3, 5, 7]",20h-22h,Toan,Teacher_1,6,5,20h-22h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
28,26,st_33,"[3, 5, 7]",18h-20h,Hoa,Teacher_6,6,5,18h-20h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
33,19,st_27,"[3, 5, 7]",20h-22h,Hoa,Teacher_3,8,5,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
32,16,st_24,"[3, 5, 7]",20h-22h,Hoa,Teacher_6,9,5,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
20,8,st_17,"[3, 5, 7]",16h-18h,Ly,Teacher_5,6,5,16h-18h,4,Teacher_5,"[3, 4, 5]","[14h-16h, 16h-18h]",7
21,9,st_18,"[3, 5, 7]",14h-16h,Hoa,Teacher_6,7,5,14h-16h,2,Teacher_3,"[4, 5, 6]","[14h-16h, 16h-18h]",8
29,14,st_22,"[3, 5, 7]",18h-20h,Toan,Teacher_4,7,5,18h-20h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
25,12,st_20,"[3, 5, 7]",18h-20h,Ly,Teacher_2,9,5,18h-20h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
34,23,st_30,"[3, 5, 7]",20h-22h,Hoa,Teacher_6,7,5,20h-22h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
27,13,st_21,"[3, 5, 7]",18h-20h,Hoa,Teacher_3,6,5,18h-20h,5,Teacher_6,"[2, 4, 5]","[18h-20h, 20h-22h]",8
26,15,st_23,"[3, 5, 7]",18h-20h,Ly,Teacher_5,8,5,18h-20h,1,Teacher_2,"[3, 4, 5]","[18h-20h, 20h-22h]",7
4,1,st_10,"[2, 4, 6]",20h-22h,Toan,Teacher_4,7,6,20h-22h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9
5,1,st_10,"[2, 4, 6]",20h-22h,Toan,Teacher_4,7,6,20h-22h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
6,4,st_13,"[2, 4, 6]",20h-22h,Toan,Teacher_1,6,6,20h-22h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9
7,4,st_13,"[2, 4, 6]",20h-22h,Toan,Teacher_1,6,6,20h-22h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
46,22,st_3,"[2, 4, 6]",16h-18h,Hoa,Teacher_3,8,6,16h-18h,2,Teacher_3,"[4, 5, 6]","[14h-16h, 16h-18h]",8
56,30,st_7,"[2, 4, 6]",18h-20h,Toan,Teacher_1,8,6,18h-20h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9
57,30,st_7,"[2, 4, 6]",18h-20h,Toan,Teacher_1,8,6,18h-20h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
30,14,st_22,"[3, 5, 7]",18h-20h,Toan,Teacher_4,7,7,18h-20h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9
31,14,st_22,"[3, 5, 7]",18h-20h,Toan,Teacher_4,7,7,18h-20h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
40,20,st_28,"[3, 5, 7]",20h-22h,Toan,Teacher_4,9,7,20h-22h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
39,20,st_28,"[3, 5, 7]",20h-22h,Toan,Teacher_4,9,7,20h-22h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9
38,17,st_25,"[3, 5, 7]",20h-22h,Toan,Teacher_1,6,7,20h-22h,6,Teacher_7,"[5, 6, 7]","[18h-20h, 20h-22h]",9
37,17,st_25,"[3, 5, 7]",20h-22h,Toan,Teacher_1,6,7,20h-22h,3,Teacher_4,"[2, 6, 7]","[18h-20h, 20h-22h]",9

In [16]:
import time

start = time.time()
re3['filter'] = re3.apply(lambda row: 1 if abs(row['grade_y']-row['grade_x']) < 2 else 0, axis=1)
re3_ = re3.loc[re3['filter'] == 1].sort_values(by="day_of_week")
re3_

print(time.time()-start)

0.007791042327880859

In [17]:
re3_[["subject", "time_available", "day_of_week", "Student", "Teacher", "grade_x"]].sort_values(by=["day_of_week", "time_available"])

   subject time_available day_of_week Student    Teacher  grade_x
0     Toan        14h-16h           2    st_1  Teacher_1        6
53     Hoa        18h-20h           2    st_6  Teacher_6        7
55    Toan        18h-20h           2    st_7  Teacher_4        8
11     Hoa        20h-22h           2   st_15  Teacher_6        8
10     Hoa        20h-22h           2   st_12  Teacher_6        9
19      Ly        16h-18h           3   st_17  Teacher_5        6
24      Ly        18h-20h           3   st_23  Teacher_2        8
42      Ly        20h-22h           3   st_29  Teacher_2        6
41      Ly        20h-22h           3   st_26  Teacher_2        7
1     Toan        14h-16h           4    st_1  Teacher_1        6
22      Ly        16h-18h           4    st_2  Teacher_5        7
45     Hoa        16h-18h           4    st_3  Teacher_3        8
54     Hoa        18h-20h           4    st_6  Teacher_6        7
51      Ly        18h-20h           4    st_5  Teacher_2        6
8       Ly        20h-22h           4   st_11  Teacher_2        8
13     Hoa        20h-22h           4   st_12  Teacher_6        9
14     Hoa        20h-22h           4   st_15  Teacher_6        8
9       Ly        20h-22h           4   st_14  Teacher_2        7
21     Hoa        14h-16h           5   st_18  Teacher_3        7
20      Ly        16h-18h           5   st_17  Teacher_5        6
26      Ly        18h-20h           5   st_23  Teacher_2        8
44      Ly        20h-22h           5   st_29  Teacher_2        6
43      Ly        20h-22h           5   st_26  Teacher_2        7
33     Hoa        20h-22h           5   st_27  Teacher_6        8
36    Toan        20h-22h           5   st_28  Teacher_7        9
34     Hoa        20h-22h           5   st_30  Teacher_6        7
32     Hoa        20h-22h           5   st_24  Teacher_6        9
46     Hoa        16h-18h           6    st_3  Teacher_3        8
56    Toan        18h-20h           6    st_7  Teacher_4        8
57    Toan        18h-20h           6    st_7  Teacher_7        8
39    Toan        20h-22h           7   st_28  Teacher_4        9
40    Toan        20h-22h           7   st_28  Teacher_7        9